<!doctype html>
<html lang="en">
<head>
<meta name="description" content="There is a server that holds all the files. Pi's do no have any local storage.

setup.md - steps for human to prep a box for setup2.sh setup2.sh - script to setup server for pis to netboot from. setup3.sh - script to run on a pi when the server is in update state.

https://docs.google.com/document/d/1H3x34bdztWy-uN8EYe-FxJL2YojIjd-0feL9d8BMtN4/edit#heading=h.d8vkktb69rj3"/>
<meta property="og:title" content="PICI: Raspberry Pi CI for FPGA tool chain."/>
<!--<meta property="og:image" content="{{ MEDIA_URL }}slides/Render3_Revised_20200111_Revised_Ratio_Web.jpg"/>-->
<meta property="og:description" content="There is a server that holds all the files. Pi's do no have any local storage.

setup.md - steps for human to prep a box for setup2.sh setup2.sh - script to setup server for pis to netboot from. setup3.sh - script to run on a pi when the server is in update state.

https://docs.google.com/document/d/1H3x34bdztWy-uN8EYe-FxJL2YojIjd-0feL9d8BMtN4/edit#heading=h.d8vkktb69rj3"/>
<meta property="og:url" content="https://TODO:FIXME"/>
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load fonts #}
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lato:300&display=swap">

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

</head>
<body>
<h1>This is a header!</h1>
<p>It's Aliiiiiiiiive!</p>

<canvas id="video-canvas" width="640" height="480">
    <p>
        Please use a browser that supports the Canvas Element, like
        <a href="http://www.google.com/chrome">Chrome</a>,
        <a href="http://www.mozilla.com/firefox/">Firefox</a>,
        <a href="http://www.apple.com/safari/">Safari</a> or Edge
    </p>
</canvas>
</body>
